<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Helloworld</title>
    <script type="text/javascript" charset="utf-8">/*<![CDATA[*/
        jQuery(function($) {
        	$('#send-to-ticket').click(function(e) {
        	    e.preventDefault();
                var ids = $('table.code-comments input:checked' ).map(function(i, e) {return e.id.replace('bundle-', '')}).get();
                if (!ids.length) {
                    alert("Please select comments to bundle.");
                    return;
                }
                window.location = '${href('code-comments', 'bundle')}?ids=' + ids.join(',');
        	});
        });
    /*]]>*/</script>
    
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="helloworld">
        <h1>Code Comments</h1>
        <button id="send-to-ticket" type="submit">Send selected to ticket</button>
        <table class="listing code-comments">
            <thead>
                <tr class="tarc-columns">
                    <th>ID</th>
                    <th>Bundle?</th>
                    <th>Author</th>
                    <th>Date</th>
                    <th>Path</th>
                    <th>Text</th>
                </tr>
            </thead>
            <tbody>
            <py:for each="idx, comment in enumerate(comments)">
                <tr class="${idx % 2 and 'odd' or 'even'}">
                    <td>$comment.id</td>
                    <td class="check"><input type="checkbox" id="bundle-$comment.id" /></td>
                    <th>$comment.author</th>
                    <th>${dateinfo(comment.time)}</th>
                    <td><a href="${href.browser(None, comment.path, rev=comment.revision, codecomment=comment.id)}#L$comment.line">$comment.path<py:if test="comment.line">#$comment.line</py:if></a></td>
                    <td>$comment.html</td>
                </tr>
            </py:for>
            </tbody>
            
        </table>
    </div>
    <p>$x</p>
  </body>
</html>