<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Helloworld</title>
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="helloworld">
        <h1>Code Comments</h1>
        <h2>$comments</h2>
        <ul>
            <li py:for="comment in comments">
                <p>$comment.text</p>
                <p>$comment.html</p>
                <a href="${href.browser(None, comment.path, rev=comment.revision)}#L$comment.line">$comment.path</a>
            </li>
        </ul>
    </div>
    <p>$x</p>
  </body>
</html>