<a id="comment-<%= id %>"></a>
<div class="meta">
    <img class="gravatar" src="http://0.gravatar.com/avatar/<%= email_md5 %>?size=20" width="20" height="20" alt="gravatar for <%= author %>" />
    <span class="author"><%= author %></span> @ <span class="time"><%= formatted_date %></span>
    •
    <a href="<%= permalink %>">#<%= id %></a>
    <% if (can_delete) { %>
    <a href="<%= delete_url %>?id=<%= id %>" class="delete">Delete</a>
    <% } %>

</div>
<div class="text <%= active? 'active' : ''%>">
<%= html %>
</div>
