<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Helloworld</title>
  </head>

  <body>
    <div id="content" class="helloworld">
        <h1>Delete Comment</h1>
        <h2>Do you want to delete this comment:</h2>
        <dl>
            <dt>ID</dt>
            <dd>$comment.id</dd>
            
            <dt>Author</dt>
            <dd>$comment.author</dd>

            <dt>Time</dt>
            <dd>${comment.formatted_time()}</dd>
            
            <dt>Text</dt>
            <dd>$comment.html</dd>
            
            <dt>Path</dt>
            <dd>${comment.path_link_tag()}</dd>
        </dl>
        <p><form action="${href('code-comments', 'delete')}" method="post">
            <input type="hidden" name="return_to" value="$return_to" />
            <input type="hidden" name="id" value="$comment.id" />
            <input type="submit" name="submit" value="Delete" />
            <a href="javascript:history.go(-1);">Cancel</a>
        </form>
        </p>
    </div>
  </body>
</html>