table.code-comments td.check {
	width: 2em;
}
#add-comment-dialog textarea {
	width: 400px;
	height: 180px;
	padding: 6px;
}
#add-comment-dialog button {
	float: left;
}
#add-comment-dialog a.formatting {
	float: right;
}
#add-comment-dialog h3 {
	display: none;
}
#add-comment-dialog div.preview {
	margin-bottom: 12px;
}

.ui-dialog {
	width: auto !important;
}
ul.comments .active {
	border-color: #555;
}
ul.comments .active .meta {
	background-color: #555;
}
ul.comments>li.active .meta .author {
	color: #eee;
}
ul.comments>li .time {
	font-size: 10px;
	margin-left: 5px;
}
ul.comments>li.active a.time,
ul.comments>li.active .meta .delete {
	color: #eee;
}
ul.comments>li.active a.time:hover,
ul.comments>li.active .meta .delete:hover {
	background: #222;
}
ul.comments {
	margin: 0;
	padding: 2px 4px 0 0;
	font-size: 11px;
	font-family: Verdana, sans-serif;
}
ul.comments>li {
	border-radius: 4px;
	border: 1px solid #f5f5f5;
	margin-bottom: 4px;
	list-style-type: none;
}
ul.comments>li .meta {
	padding: 6px 10px;
	background-color: #f5f5f5;
}
ul.comments>li .time {
	font-size: 10px;
	margin-left: 5px;
}
ul.comments>li .meta img.gravatar {
	vertical-align: middle;
	border: 1px solid #ddd;
	margin-right: 5px;
}
ul.comments>li .meta .author {
	font-weight: bold;
}
ul.comments>li .meta .delete {
	float: right;
	margin-right: 1em;
	margin-top: 2px;
}

ul.comments>li .text {
	padding: 1px 15px;
	border: 0;
	margin: 0;
}
#page-comments button {
	margin-bottom: 16px;
}
tr.with-comments {
	background-color: #FFFFE2;
	border-bottom: 1px solid #998;
}
tr.comments td {
	border-bottom: 1px solid #998;
}
/* fixes .with-comments bottom borders on changeset view */
.diff table.inline tbody.mod tr.with-comments td.r,
.diff table.inline tbody.add tr.with-comments td.r {
	border-bottom-width: 1px;
}
.diff table.inline tbody.mod tr.with-comments td.l,
.diff table.inline tbody.rem tr.with-comments td.l {
	border-bottom-width: 1px;
}

table.code tr,
.trac-diff tbody tr {
	height: 17px;
}
a.bubble {
	position: relative;
}
a.bubble span.ui-icon {
	/* this centers the icon horizontally and vertically */
	background-color: #fff;
	border-radius: 3px;
	border: 4px solid #fff;
	position: absolute;
	left: 24px;
	margin: -2px auto 0;
}
.diff table.trac-diff td.comments {
	padding: 10px;
	border-top: 1px solid #f5f5f5;
}

/* Subscriptions */

button#subscribe {
	display: block;
	float: right;
	margin: 5px 0 5px 5px;
}
