table.code-comments td.check {
	width: 2em;
}
#add-comment-dialog textarea {
	width: 400px;
	height: 250px;
	padding: 6px;
}
#add-comment-dialog button {
	float: left;
}
#add-comment-dialog a {
	float: right;
}

.ui-dialog {
	width: auto !important;
}
ul.comments .active {
	background-color: #FFFFCD;
}
ul.comments {
	margin: 0;
	padding: 2px 4px 0 0;
	font-size: 11px;
	font-family: Verdana, sans-serif;
}
ul.comments li {
	border-radius: 4px;
	border: 1px solid #dfdfdf;
	margin-bottom: 4px;
	list-style-type: none;
}
ul.comments li .meta {
	padding: 6px;
	background-color: #dfdfdf;
}
ul.comments li .meta img.gravatar {
	vertical-align: middle;
	padding: 1px;
	border: 1px solid #888;
}
ul.comments li .meta .author {
	font-weight: bold;
}
ul.comments li .meta .delete {
	float: right;
	margin-right: 1em;
}

ul.comments li .text {
	padding: 1px 8px;
	border: 0;
	margin: 0;
}
#top-comments button {
	margin-bottom: 16px;
}
tr.with-comments {
	background-color: #FFFFE2;
	border-bottom: 1px solid #998;
}
tr.comments {
	border-bottom: 1px solid #998;
}